/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.bg-indigo-600, .bg-indigo-700 {
  background: #2e944a !important;
}
.text-indigo-600 {
  color: #2e944a !important;
}
.text-indigo-100{
  color: #fff !important;
}
.bg-indigo-800{
  background: #036420 !important;
}
.hover\:bg-indigo-600:hover {
  background: #036420 !important;
}
.rounder-logo {
  max-width: 100px;
}
.text-indigo-300 {
  color: #ffffff !important;
}
input {
  padding: 10px 40px 10px 8px;
  border: 1px solid;
  max-width: 60% !important;
}
select {
  padding: 10px 40px 10px 4px;
  border: 1px solid;
  max-width: 60% !important;
}
.img-icon-s {
  width: 30px !important;
  margin-right: 10px;
}